<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADbQ8CzjrmX8cenTDoxEJBSaiY9AT2T_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>494148558291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anhntn.baseGetx</string>
	<key>PROJECT_ID</key>
	<string>base-flutter-25bd3</string>
	<key>STORAGE_BUCKET</key>
	<string>base-flutter-25bd3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494148558291:ios:bf2784b4c5f86fccc0a326</string>
</dict>
</plist>